@font-face {
    font-family: 'kaushan_scriptregular';
    src: font_url('kaushanscript-regular-webfont.woff2') format('woff2'),
         font_url('kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}